/* Custom CSS Extensions */
body {
    background-color: #0f172a;
}

/* Transisi UI */
button {
    transition: all 0.2s ease-in-out;
}

/* Status Active Relay Styling */
.relay-active {
    background-color: #059669 !important; /* Emerald 600 */
    border-color: #10b981 !important;     /* Emerald 500 */
    box-shadow: 0 4px 14px 0 rgba(16, 185, 129, 0.25);
}

.relay-active span {
    color: #ffffff !important;
}
